.form-field{
display:flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap:20px;
border:2px solid black;
width:30%;
height:50%;
margin: auto;
margin-top: 120px; 
padding-top: 50px; 
 div{
display: flex;
flex-direction: column;
gap:10px;
width:40%;

}
}